/* Example
@media screen and (max-width: $lgDesktopWidth) {

}
@media screen and (max-width: $mdDesktopWidth) {

}
@media screen and (max-width: $smDesktopWidth) {

}
@media screen and (max-width: $tableWidth) {

}
@media screen and (max-width: $phoneWidth) {

}
*/

html, body {
  @media screen and (max-width: $lgDesktopWidth) {
    font-size: $mainFontSize;
  }
  @media screen and (max-width: $mdDesktopWidth) {
    font-size: 17px;
  }
  @media screen and (max-width: $smDesktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
  @media screen and (max-width: $smPhoneWidth) {
    font-size: 12px;
  }
}
.container {
  @media screen and (max-width: $lgDesktopWidth) {
    max-width: $mdDesktopWidth;
  }
  @media screen and (max-width: $mdDesktopWidth) {
    max-width: $smDesktopWidth;
  }
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
}

.h1 {
  @media screen and (max-width: $tableWidth) {
    font-size: 24px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 21px;
  }
}
.h2 {
  @media screen and (max-width: $tableWidth) {
    font-size: 22px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 19px;
  }
}
.h3 {
  @media screen and (max-width: $tableWidth) {
    font-size: 20px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 17px;
  }
}
.h4 {
  @media screen and (max-width: $tableWidth) {
    font-size: 18px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 16px;
  }
}
.footer__logo {
  @media screen and (max-width: $tableWidth) {
    margin: 0 auto 20px;
  }
}
.footer__links {
  @media screen and (max-width: $tableWidth) {
    justify-content: center;
    padding-bottom: 20px;
  }
}



