// Font
$mainFont                : 'Montserrat', sans-serif;

// Size
$mainFontColor           : #000;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$lgDesktopWidth          : 1400px;
$mdDesktopWidth          : 1250px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$primary-color           : hsl(203, 21%, 28%);
$secondary-color         : hsl(200, 23%, 54%);
$tertiary-color          : hsl(226, 73%, 20%);
$success-color           : hsl(150, 74%, 51%);
$danger-color            : hsl(1, 83%, 56%);
$warning-color           : hsl(47, 99%, 59%);
$purple-color            : hsl(265, 57%, 57%);
$light-color             : #ffffff;
$dark-color              : #000000;

// Neutral Color
$neutral-primary         : rgb(252, 252, 252);
$neutral-regular         : #2f2f2f;
$neutral-secondary       : #dcdcdc;
$neutral-placeholder     : #c5c5c5;

// Fons
$fon-1                   : rgba(109, 152, 194, 0.6);

