.main {
  min-height: 83vh;
}

.github-link--light {
  svg {
    fill: #fff;
  }
}

.github-link:hover {
  svg {
    fill: $primary-color;
  }
}
.el-form-item__label {
  font-size: 18px;
  font-weight: 400;
}
.img-background {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}
